<div>
    <h5 class = "m-0">Thêm mới seminar</h5>
    <hr class = "mt-0">
    <div class = "form-group">
        <label class = "mb-1">Tên seminar</label>
        <input  class="w-100 form-control p-1" autofocus/>
    </div>
    <div class = "form-group">
        <label>Diễn giả</label>
        <input  class="w-100 form-control p-1"/>
    </div>
    <div class = "form-group row">
        <div class = "form-group col-md-6">
            <label class = "mb-1">Thời gian bắt đầu</label>
            <input matInput [for]="datepicker" [matDatepicker]="datepicker" class="w-100 p-2 form-control"  [(ngModel)]="educateInfo.content"/>
                    <mat-datepicker-toggle matSuffix [for]="datepicker"   style = "position: absolute; top: 25px;color: #000!important; right: 15px"></mat-datepicker-toggle>
                    <mat-datepicker #datepicker>
                    </mat-datepicker>
        </div>
        
        <div class = "col-md-6">
            <label class = "mb-1">Ngày</label>
            <input matInput [matDatepicker]="datepicker2" class="w-100 p-2 form-control"placeholder="dd/mm/yyyy"/>
            <mat-datepicker-toggle matSuffix [for]="datepicker2"   style = "position: absolute; top: 25px; right: 15px"></mat-datepicker-toggle>
            <mat-datepicker #datepicker2>
            </mat-datepicker>
        </div>
    </div>
    <div class = "form-group row">
        <div class = "col-md-6">
            <label class = "mb-1"> Số lượng tham gia tối đa</label>
            <input  class="w-100 form-control p-1"/>
        </div>
        <div class = "col-md-6">
          <label class = "mb-1">Liên hệ</label>
          <input  class="w-100 form-control p-1"/>
      </div>
    </div>
   
    <div class = "form-group">
        <label class = "mb-1">Mô tả</label>
        <textarea class="w-100 form-control p-1"></textarea>
    </div>

</div>
<mat-dialog-actions align ="end" class = "mt-0 mb-0 p-0">
  <button mat-button class="btn btn-outline-primary mb-0">Lưu</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="btn btn-outline-primary mb-0">Hủy</button>
</mat-dialog-actions>