<div>
    <h3 class = "mt-1 mb-1">{{company}}</h3>
    <hr>
</div>
<div class="col-md-12">
    <form autocomplete="off">
        <div class="form-group">
            <div class="form-group row">
                <span class="col-sm-3 col-form-label">Địa chỉ công ty: </span>
                <div class="col-sm-12">
                    <textarea type="text" class="w-100 medium-input form-control" formControlName="archivement" value="17020572"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <span class="col-sm-3 col-form-label">Giới thiệu công ty: </span>
                <div class="col-sm-12">
                    <textarea type="text" class="w-100 medium-input  form-control" formControlName="archivement" value="17020572">
                    </textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class = "col-md-6">
                    <span class=" col-form-label">Năm thành lập: </span>
                <div class="">
                    <input  class="w-100  form-control" formControlName="gpa" value="1900"/>
                </div>
                </div>
                <div class = "col-md-6">
                    <span class=" col-form-label">Quy mô: </span>
                <div class="">
                    <input  class="w-100  form-control" formControlName="gpa" value="15000"/>
                </div>
                </div>
                
            </div>
            <div class="form-group row">
                <span class="col-sm-3 col-form-label">Video giới thiệu: </span>
                <div class="col-sm-12">
                    <input  class="w-100  form-control" formControlName="preferTechnology" placeholder="link video youtube">
                </div>
            </div>
        </div>
    </form>
</div>
<mat-dialog-actions align ="end">
    <button mat-button class="btn btn-outline-primary">Lưu</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="btn btn-outline-primary">Hủy</button>
  </mat-dialog-actions>

