<div>
    <h3 class = "mt-1 mb-1">{{company}}</h3>
    <hr>
</div>
<div class="col-md-12">
    <form autocomplete="off">
        <div class="form-group">
            <div class="form-group row">
                <span class="col-sm-3 col-form-label">Địa chỉ công ty: </span>
                <div class="col-sm-9">
                    <textarea type="text" class="w-100 long-input" formControlName="archivement" value="17020572"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <span class="col-sm-3 col-form-label">Giới thiệu công ty: </span>
                <div class="col-sm-9">
                    <textarea type="text" class="w-100 long-input" formControlName="archivement" value="17020572"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <span class="col-sm-3 col-form-label">Năm thành lập: </span>
                <div class="col-sm-3">
                    <input  class="w-100" formControlName="gpa" value="le tuan anh"/>
                </div>
                <span class="col-sm-3 col-form-label">Quy mô: </span>
                <div class="col-sm-3">
                    <input  class="w-100" formControlName="gpa" value="le tuan anh"/>
                </div>
            </div>
            <div class="form-group row">
                <span class="col-sm-3 col-form-label">Sản phẩm & Dịch vụ: </span>
                <div class="col-sm-9">
                    <textarea  class="w-100 medium-input" formControlName="preferTechnology" value="17020572"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <span class="col-sm-3 col-form-label">video: </span>
                <div class="col-sm-9">
                    <input  class="w-100 medium-input" formControlName="preferTechnology" placeholder="link video youtube">
                </div>
            </div>
        </div>
    </form>
</div>
<mat-dialog-actions align ="end">
    <button mat-button class="btn btn-outline">Nộp</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="btn btn-outline">Hủy</button>
  </mat-dialog-actions>

