
<div>
    <h3 class = "mt-0 mb-0">{{companyName}}</h3>
    <hr>
</div>
<div class="col-md-12">
    <form autocomplete="off" [formGroup]="form">
        <div class="form-group">
            <div class="form-group row mb-0">
                <span class="col-sm-3 col-form-label">Địa chỉ công ty: </span>
                <div class="col-sm-12">
                    <input type="text" class="w-100 form-control" formControlName="address" [(ngModel)] = "c.address" value="">
                </div>
            </div>
            <div class="form-group row mb-0">
                <span class="col-sm-3 col-form-label">Website: </span>
                <div class="col-sm-12">
                    <input type="text" class="w-100 form-control" formControlName="introduce" [(ngModel)] = "c.introduce" value="">
                </div>
            </div>
            <div class="form-group row mt-0 mb-0">
                <span class="col-sm-3 col-form-label">Giới thiệu công ty: </span>
                <div class="col-sm-12">
                    <textarea type="text" class="w-100 long-input form-control" formControlName="description" [(ngModel)] = "c.description" value="">
                    </textarea>
                </div>
            </div>
            <div class="form-group row mb-0">
                <div class = "col-md-6">
                    <span class=" col-form-label">Năm thành lập: </span>
                <div class="">
                    <input  class="w-100  form-control" formControlName="year" [(ngModel)] = "c.year" value="1900"/>
                </div>
                </div>
                <div class = "col-md-6">
                    <span class=" col-form-label">Quy mô: </span>
                <div class="">
                    <input  class="w-100  form-control" formControlName="scale" [(ngModel)] = "c.scale" value="15000"/>
                </div>
                </div>
                
            </div>
            <div class="form-group row mb-0">
                <span class="col-sm-3 col-form-label">Video giới thiệu: </span>
                <div class="col-sm-12">
                    <input  class="w-100  form-control" formControlName="videoUrl" [(ngModel)] = "c.videoUrl" placeholder="link video youtube">
                </div>
            </div>
        </div>
    </form>
</div>
<mat-dialog-actions align ="end" class = "mt-0 mb-0 p-0">
    <button mat-button [mat-dialog-close]="true" class="btn btn-outline-primary">Hủy</button>
    <button mat-button cdkFocusInitial class="btn btn-outline-primary" (click) = "submit()">Lưu</button>
  </mat-dialog-actions>
