<div class = "card  col-md-12">
    <div class = "card-body">
      <div class = "col-md-12 d-flex justify-content-between align-items-center">
        <input class = "form-control col-md-10" placeholder="Nhập tên công việc" [(ngModel)]="searchValue">
        <button class = "btn btn-primary col-md-2"  (click)="search()"><i class="nc-icon nc-zoom-split"></i> Search</button>
      </div>
    </div>  
    
</div>
<div>
    <button class = "btn btn-primary" (click) = "openPageAdd()" >Thêm mới</button>
</div>
    <div>
      <div class = "container">
        <div class = " row d-flex justify-content-between" >
          <div class = "col-md-12 pt-3 pl-1 pr-1" *ngFor = "let item of recruitment" >
            <div class = "card">
              <div class = "card-body d-flex col-md-12">
                <div class = "d-flex justify-content-start align-items-center col-md-3 pl-0">
                    <img 
                    src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlFx0pzEoOcvEJv49Qe2cDBGaa8nL2UtCsGQ&usqp=CAU">
                </div>
                <div class = "col-md-9 p-0 position-relative">
                  <div class = "col-md-12 p-0 d-flex justify-content-between">
                    <div class = " col-md-11 p-0">
                        <h6 class = "card-title overflow-hide" title="{{item.name}}">{{item.name}}</h6> 
                        
                      <h6 class = "card-title overflow-hide" title="{{item.company.user.fullName}}">{{item.company.user.fullName}}</h6>
                      <div class = 'card-text overflow-hide' title="{{item.description}}">{{item.description}}
                      </div>
                        
                    </div>
                  </div>
                  <div class = "d-flex justify-content-between col-md-12 p-0 mt-2">
                    <span><strong>Số lượng sinh viên ứng tuyển: {{item?.apply?.total}}</strong></span>
                    <!-- <span><strong>Sinh viên đã lưu: 20</strong></span> -->
                    <span></span>
                  </div>
                  <div class = "d-flex justify-content-end col-md-12 p-0 end">
                    <button class = "btn btn-outline-primary" (click) = "viewListStudent(item?.apply)" [class.disabled] = "item?.apply?.total === 0">Xem DS SV ứng tuyển </button>
                    <button class = "btn btn-outline-primary" (click) = "gotoChat(item)">Đi đến nhóm chat</button>
                    <button class = "btn btn-outline-primary" (click)="showDetail(item?.id)">Xem chi tiết</button>
                  </div>
                </div>
                
            </div>   
          </div> 
        </div>          
      </div>
  </div>
  
  
  
  