
  <div class = "container">
    <div>
        <p style = "font-size: 20px">Danh sách sinh viên({{applyInfo?.total}})</p>
        <hr>
    </div>
    <div class = " row d-flex justify-content-between" *ngFor="let apply of applyInfo?.rows">
            <div class = "col-md-12">
                <div class = "d-flex justify-content-between">
                    <div style="font-size: 30px">{{apply?.user?.fullName}}</div>
                <!-- <p><i class="fas fa-history"></i> 30/04/2021</p> -->
                </div>
                
                <p>{{apply?.description}}</p>
                <a href = "{{apply?.cvUrl}}">{{apply?.name}}</a>
                
            </div>
            <hr>
        </div>
    <!-- <div class = " row d-flex justify-content-between" >
        <div class = "col-md-12">
            <div class = "d-flex justify-content-between">
                <div style="font-size: 30px">Nguyễn Ngọc Giỏi</div>
            <p><i class="fas fa-history"></i> 01/05/2021</p>
            </div>
            
            <p>Giói thiệu Nguyễn Ngọc Giỏi</p>
            <a href = "#">CV_nguyen_ngoc_gioi.pdf</a>
            
        </div>
    </div>
<hr> -->
</div>    
<mat-dialog-actions align ="end" class = "mt-0 mb-0 p-0">
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="btn btn-outline-primary">Đóng</button>
  </mat-dialog-actions>