
  <div class = "container">
    <div>
        <p style = "font-size: 20px">Danh sách sinh viên(10)</p>
        <hr>
    </div>
    <div class = " row d-flex justify-content-between" >
            <div class = "col-md-12">
                <div class = "d-flex justify-content-between">
                    <div style="font-size: 30px">Le Tuan Anh</div>
                <p><i class="fas fa-history"></i> 27/12/2020</p>
                </div>
                
                <p>Giói thiệu. Công ty TNHH Phần mềm FPT Hà Nội đang tìm kiếm những Kiểm Thử tài năng để đào tạo làm việc với các khách hàng lớn trong nhiều lĩnh vực như Automative, Finance, Aviation,… Khi bạn tham gia với chúng tôi, bạn sẽ có nhiều cơ hội: Được đào tạo về kỹ năng kiểm thử phần mềm Làm việc trong môi trường làm việc chuyên nghiệp, theo sát quá trình Scrum, giao tiếp trực tiếp với khách hàng nước ngoài.</p>
                <a href = "#">CV_nguyen_ngoc_gioi.pdf</a>
                
            </div>
        </div>
    <hr>
    <div class = " row d-flex justify-content-between" >
        <div class = "col-md-12">
            <div class = "d-flex justify-content-between">
                <div style="font-size: 30px">Le Tuan Anh</div>
            <p><i class="fas fa-history"></i> 27/12/2020</p>
            </div>
            
            <p>Giói thiệu. Công ty TNHH Phần mềm FPT Hà Nội đang tìm kiếm những Kiểm Thử tài năng để đào tạo làm việc với các khách hàng lớn trong nhiều lĩnh vực như Automative, Finance, Aviation,… Khi bạn tham gia với chúng tôi, bạn sẽ có nhiều cơ hội: Được đào tạo về kỹ năng kiểm thử phần mềm Làm việc trong môi trường làm việc chuyên nghiệp, theo sát quá trình Scrum, giao tiếp trực tiếp với khách hàng nước ngoài.</p>
            <a href = "#">CV_nguyen_ngoc_gioi.pdf</a>
            
        </div>
    </div>
<hr>
</div>    
<mat-dialog-actions align ="end" class = "mt-0 mb-0 p-0">
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="btn btn-outline-primary">Đóng</button>
  </mat-dialog-actions>