<h2 mat-dialog-title>{{eduDetailInfo?.name}}</h2>
<mat-dialog-content class="mat-typography">
  <div class="d-flex justify-content-center">
  </div>
    <div class="col-md-10" style="line-height: 28px;font-size: 16px;">
      <div class="title"></div>
      <div class="company">
          <span>Đơn vị tổ chức: {{eduDetailInfo?.company?.user?.fullName}}</span>
      </div>
      <div class="speaker">
          <span>Diễn giả: {{eduDetailInfo?.speaker}}</span>
      </div>
      <div class="time">
          <span>Thời gian diễn ra: {{eduDetailInfo?.startDate| date: "dd/MM/yyyy"}}</span>
      </div>
      <div class="seminar-description">
          <span>Đường dẫn: {{eduDetailInfo?.linkLive}}
          </span>
      </div>
    </div>

</mat-dialog-content>
<!-- <mat-dialog-actions align="end">
  <button type="button" class="btn btn-outline-primary ml-2">Tham gia</button>
</mat-dialog-actions> -->