<div>
    <div>
        <div class = "cover">
            <div style = "height: 256px"></div>
            <div class = "d-flex justify-content-between align-items-center form-control bg-light">
                <div class = "col-md-3 d-flex justify-content-start align-items-center div-ava">
                    <img class = "ava"
                        src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlFx0pzEoOcvEJv49Qe2cDBGaa8nL2UtCsGQ&usqp=CAU">
                </div>
                <div class = "col-md-7">
                    <h2 class = "mb-4 pb-0">CONG TY CO PHAN FPT SORFWARE</h2>
                    <p ><i class="nc-icon nc-pin-3"></i> Địa chỉ: Ha Noi</p>
                </div>
        <div class = "col-md-2">
            <button class = "btn btn-primary col-md-12" (click) = "openPopupEdit()">Chỉnh sửa</button>
        </div>
</div>
        
    </div>
    <div class = "mt-5">
        <h3 class = "d-flex justify-content-center">GIỚI THIỆU CÔNG TY</h3>
        <p>Thành lập từ năm 1988 đến nay với 3 Trụ sở chính FPT Software đặt tại Việt Nam và một số nước trên toàn thế giới như Hoa Kỳ, Nhật Bản, Malaysia, Đức, Úc, Singapore, Malaysia, Thái Lan và Philipines hiện FPT Software đáp ứng nhu cầu gia công phần mềm lớn cho hơn 150 công ty hàng đầu tại 20 quốc gia lớn.</p>
    </div>
    <div class = "d-flex justify-content-center mt-5">
        <div class = "col-md-3 ">
            <i class="nc-icon nc-calendar-60 col-md-12   d-flex justify-content-center" style = "font-size: 80px;"></i><p class = "col-md-12 p-0  d-flex justify-content-center">Năm Thành Lập</p>
            <h3  class = "col-md-12 p-0  d-flex justify-content-center">1900</h3>
        </div>
        <div class = "col-md-3">
            <i class="fas fa-users  col-md-12   d-flex justify-content-center" style = "font-size: 80px;"></i><p class = "col-md-12 p-0  d-flex justify-content-center">Quy Mô</p>
            <h3  class = "col-md-12 p-0  d-flex justify-content-center">1500</h3>
        </div>
        
    
    </div>
    
    <div class = "mt-5">
        <h3 class = "d-flex justify-content-center">VIDEO GIỚI THIỆU</h3>
        <div class = "d-flex justify-content-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/g42VaFGZXsY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                 </div>
        
    </div>
    <!-- <div id = "demo" class = "mt-5 carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
          </ul>
          <div class="carousel-inner">
            <div class="carousel-item active">
                <div class = "d-flex pb-3">
                    <div class = "col-md-4">
                        <img src="https://static.topcv.vn/premium_companies/images/cc7066177278ec53e66093cb3981f470-6006b0eb3bdfe.jpg" alt="Los Angeles" width="100%" height="auto">
                    </div>
                    <div class = "col-md-4">
                        <img src="https://static.topcv.vn/premium_companies/images/cc7066177278ec53e66093cb3981f470-6006b0eb3bdfe.jpg" alt="Los Angeles" width="100%" height="auto">
                    </div>
                    <div class = "col-md-4">
                        <img src="https://static.topcv.vn/premium_companies/images/cc7066177278ec53e66093cb3981f470-6006b0eb3bdfe.jpg" alt="Los Angeles" width="100%" height="auto">
                    </div>
                </div>
               <div class = "d-flex">
                    <div class = "col-md-4">
                        <img src="https://static.topcv.vn/premium_companies/images/cc7066177278ec53e66093cb3981f470-6006b0eb3bdfe.jpg" alt="Los Angeles" width="100%" height="auto">
                    </div>
                    <div class = "col-md-4">
                        <img src="https://static.topcv.vn/premium_companies/images/cc7066177278ec53e66093cb3981f470-6006b0eb3bdfe.jpg" alt="Los Angeles" width="100%" height="auto">
                    </div>
                    <div class = "col-md-4">
                        <img src="https://static.topcv.vn/premium_companies/images/cc7066177278ec53e66093cb3981f470-6006b0eb3bdfe.jpg" alt="Los Angeles" width="100%" height="auto">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class = "d-flex pb-3">
                    <div class = "col-md-4">
                        <img src="https://static.topcv.vn/premium_companies/images/cc7066177278ec53e66093cb3981f470-6006b0eb3bdfe.jpg" alt="Los Angeles" width="100%" height="auto">
                    </div>
                    <div class = "col-md-4">
                        <img src="https://static.topcv.vn/premium_companies/images/cc7066177278ec53e66093cb3981f470-6006b0eb3bdfe.jpg" alt="Los Angeles" width="100%" height="auto">
                    </div>
                    <div class = "col-md-4">
                        <img src="https://static.topcv.vn/premium_companies/images/cc7066177278ec53e66093cb3981f470-6006b0eb3bdfe.jpg" alt="Los Angeles" width="100%" height="auto">
                    </div>
                </div>
               <div class = "d-flex">
                    <div class = "col-md-4">
                        <img src="https://static.topcv.vn/premium_companies/images/cc7066177278ec53e66093cb3981f470-6006b0eb3bdfe.jpg" alt="Los Angeles" width="100%" height="auto">
                    </div>
                    <div class = "col-md-4">
                        <img src="https://static.topcv.vn/premium_companies/images/cc7066177278ec53e66093cb3981f470-6006b0eb3bdfe.jpg" alt="Los Angeles" width="100%" height="auto">
                    </div>
                    <div class = "col-md-4">
                        <img src="https://static.topcv.vn/premium_companies/images/cc7066177278ec53e66093cb3981f470-6006b0eb3bdfe.jpg" alt="Los Angeles" width="100%" height="auto">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class = "d-flex pb-3">
                    <div class = "col-md-4">
                        <img src="https://static.topcv.vn/premium_companies/images/cc7066177278ec53e66093cb3981f470-6006b0eb3bdfe.jpg" alt="Los Angeles" width="100%" height="auto">
                    </div>
                    <div class = "col-md-4">
                        <img src="https://static.topcv.vn/premium_companies/images/cc7066177278ec53e66093cb3981f470-6006b0eb3bdfe.jpg" alt="Los Angeles" width="100%" height="auto">
                    </div>
                    <div class = "col-md-4">
                        <img src="https://static.topcv.vn/premium_companies/images/cc7066177278ec53e66093cb3981f470-6006b0eb3bdfe.jpg" alt="Los Angeles" width="100%" height="auto">
                    </div>
                </div>
               <div class = "d-flex">
                    <div class = "col-md-4">
                        <img src="https://static.topcv.vn/premium_companies/images/cc7066177278ec53e66093cb3981f470-6006b0eb3bdfe.jpg" alt="Los Angeles" width="100%" height="auto">
                    </div>
                    <div class = "col-md-4">
                        <img src="https://static.topcv.vn/premium_companies/images/cc7066177278ec53e66093cb3981f470-6006b0eb3bdfe.jpg" alt="Los Angeles" width="100%" height="auto">
                    </div>
                    <div class = "col-md-4">
                        <img src="https://static.topcv.vn/premium_companies/images/cc7066177278ec53e66093cb3981f470-6006b0eb3bdfe.jpg" alt="Los Angeles" width="100%" height="auto">
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
              </a>
          </div>   
    </div> -->
    
    
</div>
