<div>
  <div>
    <div>
      <img style = "width: 100%; height: 396px"
      src = {{detailInfo?.company?.backgroundUrl}}>
  </div>
  <div class = "d-flex justify-content-between align-items-center form-control bg-light ml-0 mr-0">
      <div class = "col-md-2 d-flex justify-content-center align-items-center div-ava ml-0 pl-0 pr-0">
          <img class = "ava"
              src = {{detailInfo?.company?.avatarUrl}} style="width: 140px;height: auto;position: static;">
      </div>
        <div class = "col-md-7">
          <h2 class = "mb-4 pb-0">{{detailInfo?.fullName}}</h2>
          <p ><i class="nc-icon nc-pin-3"></i> Địa chỉ: {{detailInfo?.address}}</p>
          <p ><i class="fas fa-link"></i> Website: {{detailInfo?.company?.introduce}}</p>
        </div>
        <div class = "col-md-2">
          <button class = "btn btn-primary col-md-12" (click) = "openPopupEdit(detailInfo)">Chỉnh sửa</button>
        </div>
      </div>

    </div>
    <div class = "mt-5">
      <h3 class = "d-flex justify-content-center">GIỚI THIỆU CÔNG TY</h3>
      <p>{{detailInfo?.company?.description}}</p>
    </div>
    <div class = "d-flex justify-content-center mt-5">
      <div class = "col-md-3 ">
        <i class="nc-icon nc-calendar-60 col-md-12   d-flex justify-content-center" style = "font-size: 80px;"></i><p class = "col-md-12 p-0  d-flex justify-content-center">Năm Thành Lập</p>
        <h3  class = "col-md-12 p-0  d-flex justify-content-center">{{detailInfo?.company?.year}}</h3>
      </div>
      <div class = "col-md-3">
        <i class="fas fa-users  col-md-12   d-flex justify-content-center" style = "font-size: 80px;"></i><p class = "col-md-12 p-0  d-flex justify-content-center">Quy Mô</p>
        <h3  class = "col-md-12 p-0  d-flex justify-content-center">{{detailInfo?.company?.scale}}</h3>
      </div>


    </div>

    <div class = "mt-5">
      <h3 class = "d-flex justify-content-center">VIDEO GIỚI THIỆU</h3>
      <div class = "d-flex justify-content-center">
        <!-- {{detailInfo?.company?.videoUrl}} -->
        <iframe width="560" height="315" [src]="detailInfo?.company?.videoUrl | safe:'resourceUrl'" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                 </div>

    </div>


  </div>
